
.env
.venv/
*.__pycache__/
**/__pycache__/
style_env/
data/processed_image/Bathroom/1.jpg
data/processed_image/Bathroom/2.jpg
data/processed_image/Bathroom/3.jpg
data/processed_image/Bathroom/4.jpg
data/processed_image/Bathroom/5.jpg
data/processed_image/Bathroom/6.jpg
data/processed_image/Bathroom/7.jpg
data/processed_image/Bathroom/8.jpg
data/processed_image/Bathroom/9.jpg
data/processed_image/Dresses/1.jpg
data/processed_image/Dresses/5.jpg
data/processed_image/Dresses/9.jpg
data/processed_image/Dresses/10.jpg
data/processed_image/Dresses/11.jpg
data/processed_image/Dresses/12.jpg
data/processed_image/Dresses/13.jpg
data/processed_image/Dresses/14.jpg
data/processed_image/Dresses/15.jpg
data/processed_image/Dresses/16.jpg
data/processed_image/Dresses/17.jpg
data/processed_image/Dresses/18.jpg
data/processed_image/Dresses/19.jpg
data/processed_image/Dresses/20.jpg
data/processed_image/Dresses/21.jpg
data/processed_image/Dresses/22.jpg
data/processed_image/Dresses/23.jpg
data/processed_image/Dresses/24.jpg
data/processed_image/Dresses/25.jpg
data/processed_image/Dresses/26.jpg
data/processed_image/Dresses/27.jpg
data/processed_image/Dresses/28.jpg
data/processed_image/Earrings/1.jpg
data/processed_image/Earrings/2.jpg
data/processed_image/Earrings/3.jpg
data/processed_image/Earrings/4.jpg
data/processed_image/Earrings/5.jpg
data/processed_image/Earrings/6.jpg
data/processed_image/Earrings/7.jpg
data/processed_image/Earrings/8.jpg
data/processed_image/Earrings/9.jpg
data/processed_image/Jeans/1.jpg
data/processed_image/Jeans/2.jpg
data/processed_image/Jeans/3.jpg
data/processed_image/Jeans/4.jpg
data/processed_image/Jeans/5.jpg
data/processed_image/Jeans/6.jpg
data/processed_image/Jeans/7.jpg
data/processed_image/Jeans/8.jpg
data/processed_image/Jeans/9.jpg
data/processed_image/Kurtis/1.jpg
data/processed_image/Kurtis/2.jpg
data/processed_image/Kurtis/3.jpg
data/processed_image/Kurtis/4.jpg
data/processed_image/Kurtis/5.jpg
data/processed_image/Kurtis/6.jpg
data/processed_image/Kurtis/7.jpg
data/processed_image/Kurtis/8.jpg
data/processed_image/Kurtis/9.jpg
data/processed_image/Kurtis/10.jpg
data/processed_image/Kurtis/11.jpg
data/processed_image/Kurtis/12.jpg
data/processed_image/Kurtis/13.jpg
data/processed_image/Kurtis/14.jpg
data/processed_image/Kurtis/15.jpg
data/processed_image/Kurtis/16.jpg
data/processed_image/Kurtis/17.jpg
data/processed_image/Kurtis/18.jpg
data/processed_image/Kurtis/19.jpg
data/processed_image/Kurtis/20.jpg
data/processed_image/Kurtis/21.jpg
data/processed_image/Kurtis/22.jpg
data/processed_image/Kurtis/23.jpg
data/processed_image/Kurtis/24.jpg
data/processed_image/Kurtis/25.jpg
data/processed_image/Kurtis/26.jpg
data/processed_image/Kurtis/27.jpg
data/processed_image/Kurtis/28.jpg
data/processed_image/Kurtis/29.jpg
data/processed_image/Kurtis/30.jpg
data/processed_image/Kurtis/31.jpg
data/processed_image/Kurtis/32.jpg
data/processed_image/Kurtis/33.jpg
data/processed_image/Kurtis/34.jpg
data/processed_image/Kurtis/35.jpg
data/processed_image/Kurtis/36.jpg
data/processed_image/Kurtis/37.jpg
data/processed_image/Kurtis/38.jpg
data/processed_image/Kurtis/39.jpg
data/processed_image/Saree/1.jpg
data/processed_image/Saree/2.jpg
data/processed_image/Saree/3.jpg
data/processed_image/Saree/4.jpg    
data/processed_image/Saree/5.jpg
data/processed_image/Saree/6.jpg
data/processed_image/Saree/7.jpg
data/processed_image/Saree/8.jpg
data/processed_image/Saree/9.jpg
data/processed_image/Shirts/1.jpg
data/processed_image/Shirts/2.jpg
data/processed_image/Shirts/3.jpg
data/processed_image/Shirts/4.jpg
data/processed_image/Shirts/5.jpg
data/processed_image/Shirts/6.jpg
data/processed_image/Shirts/7.jpg
data/processed_image/Shirts/8.jpg
data/processed_image/Shirts/9.jpg
data/processed_image/Tshirts/0.jpg
data/processed_image/Tshirts/1.jpg
data/processed_image/Tshirts/2.jpg
data/processed_image/Tshirts/3.jpg
data/processed_image/Tshirts/4.jpg
data/processed_image/Tshirts/5.jpg
data/processed_image/Tshirts/6.jpg
data/processed_image/Tshirts/7.jpg
data/processed_image/Tshirts/8.jpg
data/processed_image/Tshirts/9.jpg
data/processed_image/Watches/1.jpg
data/processed_image/Watches/2.jpg
data/processed_image/Watches/3.jpg
data/processed_image/Watches/4.jpg
data/processed_image/Watches/5.jpg
data/processed_image/Watches/6.jpg
data/processed_image/Watches/7.jpg
data/processed_image/Watches/8.jpg
data/processed_image/Watches/9.jpg

.DS_Store
data/.DS_Store
data/processed_image/.DS_Store
